body {
  margin: 30px auto;
  max-width: 54em;
  font: 1em/1.5 Helvetica;
  /* color: #dee2e6;
  background-color: #18191A; */
}

h1, h2 {
  margin-bottom: 5px;
}

body, h1, h2 {
  font-family: 'Assistant', sans-serif;
}

li {
  margin: 1em auto;
}

h1, h2, li {
  line-height: 1.5;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2em 0;
}

a, a:visited, a:active, a:focus {
  color: #74c0fc;
}

table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* horizontal space between news date and emoji */
table tr td:nth-child(1) {
  padding-right: 20px;
}

footer {
  font-size: small;
}

.image-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-left: 50px;
}

.text-container {
  flex: 1;
  text-align: center;
}

.larger-icon {
  font-size: 24px;
}

.news-container {
  max-height: 175px;
  overflow-y: auto;
}

.news-container::-webkit-scrollbar {
  display: none;
}

.news-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

a,
#contact-icons a,
#contact-icons a:visited,
#contact-icons a:active,
#contact-icons a:focus {
  text-decoration: none;
}

#intro {
  font-size: large;
}

#portrait {
  border-radius: 10px;
}

#contact-icons a,
#contact-icons a:visited,
#contact-icons a:active,
#contact-icons a:focus {
  color: inherit;
}

#handwave {
  animation-name: handwave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  margin-right: 0.5em;
}

@keyframes handwave {
  0% { transform: rotate(0.0deg); }
  10% { transform: rotate(-10.0deg); }
  20% { transform: rotate(12.0deg); }
  30% { transform: rotate(-10.0deg); }
  40% { transform: rotate(9.0deg); }
  50% { transform: rotate(0.0deg); }
  100% { transform: rotate(0.0deg); }
}
